.time_recorder_button_group {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 50px;
}

.time_recorder_current_time {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.current_time {
    border: 2px solid #6C757D;
    padding: 6px 10px;
    border-radius: 6px;
}

.table{
    margin-top: 10px
}